* {
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 1%;
    margin-bottom: 1%;
    background-color: pink;
}

#foto-personal {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 35vh;
    height: 35vh;
    border-radius: 50%;
}

.item-menu {
    padding: 8%;
    display: grid;
    color: black;
    text-decoration: none;
    background-color: pink;
}

.item-menu:hover {
    background-color: palevioletred;
    color: blanchedalmond;
}

#footer {
    margin-top: 1%;
    background-color: pink;
}

.oculto {
    display: none;
}

.link-activo {
    background-color:palevioletred;
    color: blanchedalmond;
}